[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/backward-cpp"]
	path = submodules/backward-cpp
	url = https://github.com/bombela/backward-cpp
